html, body {
    max-width: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
}

html {
    position: relative;
    min-height: 100%;
} /* this solved header and main content overlapping (idk why tho)*/

body {
    width: 100%;
    height: 100vh; /* vh stands for viewport height, it simply is the currently visible section "view height" ;) */
    margin: 0; /* some browsers add horizontal margins, making the page horizontally scrollable, bad! set them to 0! */
    background-color: #12171a; /* maybe change this to just background, since it accepts images arguments, play! */
    color: #99b898; /* somehow it's obvious that this is referred to text, so text color! (white now :) */
    font-family: Helvetica;
}

header {
    position: sticky;
    top: 0px;
    position: fixed;
    width: 100vw;
    background-color: #2a363b;
    margin-bottom: 1px;
    padding-bottom: 1px;
}

.header-h1 {
    display: flex;
    justify-content: center;
    color: #d48443
}

.header-h2 {
    display: flex;
    justify-content: center;
    font-size: small;
    color: #a07a5b
}

.cat-widget {
    margin-top: 120px;
}

.cat-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cat-image {
    width: 500px;
    height: 500px;
    background-color: #03131a;
}

.cat-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#widget-settings {
    margin-top: 10px;
}

button {
    background-color: #ff9538; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;

    /* margin: 20px;
    padding: 1px;
    width: auto;
    height: auto;
    background-color: #ffe3ca;
    border: 2px solid black;
    color: black;
    transition-duration: 0.3s; */
}

button:hover {
    background-color: #4CAF50;
    border: 2px solid white;
}

