html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    position: relative;
    min-height: 100%;
} /* this solved header and main content overlapping (idk why tho)*/

body {
    width: 100%;
    height: 100vh; /* vh stands for viewport height, it simply is the currently visible section "view height" ;) */
    margin: 0; /* some browsers add horizontal margins, making the page horizontally scrollable, bad! set them to 0! */
    background-color: #12171a; /* maybe change this to just background, since it accepts images arguments, play! */
    color: #99b898; /* somehow it's obvious that this is referred to text, so text color! (white now :) */
    font-family: Helvetica;
}

header {
    position: sticky;
    top: 0px;
    position: fixed;
    width: 100vw;
    background-color: #2a363b;
    margin-bottom: 1px;
    padding-bottom: 1px;
}

.header-h1 {
    display: flex;
    justify-content: center;
    color: #d48443
}

.header-h2 {
    display: flex;
    justify-content: center;
    font-size: small;
    color: #a07a5b
}

article {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.cat-box {
    padding: 60px;
    margin-top: 1px;
    padding-top: 100px;
}

.cat-image {
    margin: 20px;
    width: 500px;
    height: 500px;
    background-color: #03131a;
    grid-area: 2 / 2 / span 4 / span 4;
}

.cat-button {
    grid-area: 5 / 3;
}

.button {
    margin: 20px;
    padding: 1px;
    width: auto;
    height: auto;
    background-color: #ffe3ca;
    border: 2px solid black;
    color: black;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #ff9538;
    border: 2px solid black;
    color: white;
}